* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	width: 100vw;
	min-height: 100vh;
	height: auto;
	overflow-x: hidden;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
}



@media only screen and (min-width: 601px) {

#content {
	width: 100%;
}

#sectionOne {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	background-color: #f7f7f7;
}

#oneContent {
	width: 100%;
	display: grid;
	height: 100%;
	padding: 0.65rem;
	background-colour: red;
}

#logo {
	height: 28px;
	width: auto;
}

#sectionOneContent {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 75% auto;
	grid-gap: 40px;
}

#introContainer {
	border-radius: 15px;
	background-color: #bfbfbf;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 25%;
	grid-column-gap: 3rem;
	background-image:url('img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
}

#introLeft {
	display: grid;
	grid-template-rows: max-content auto;
}

#introNav {
	padding: 3rem 3rem 0rem 3rem;
}

#introText {
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-row-gap: 3rem;
	height: 100%;
	align-content: center;
	padding: 3rem;
}

#introText h1 {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 1;
	font-style: normal;
	color: #FFFFFF;
}

#introText h2 {
	font-family: "Noto Serif KR", serif;
	font-optical-sizing: auto;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: -2px;
	font-style: normal;
	color: #e6e6e6;
	font-style: italic;
}

#introRight {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
}

#servicesContainer {
	position: absolute;
	z-index: 2;
	width: auto;
	padding: 1rem 1.5rem;
	max-width: 15vw;
	top: 15%;
	left: -55%;
	background: rgba(0,0,0, 0.25);
	backdrop-filter: blur(3px);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 5px;	
}

.serviceTitle {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.2rem;
	font-weight: 600;
	font-style: normal;
	color: #f9f9f9;
}

.serviceText {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 500;
	font-style: normal;
	color: #d6d6d6;
}

#mockupContainer {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#mockupBox {
	background-color: #ececec;
	border-radius: 15px 0px 0px 15px;
	width: 100%;
	overflow: hidden;
	height: 85%;
	-webkit-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);	
	display: grid;
	grid-template-rows: max-content 2fr 1fr;
	grid-row-gap: 20px;
	padding: 20px 0px 20px 20px;
}

#mockGrid {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: center;
	grid-column-gap: 20px;
}

.mock {
	background-color: #e3e3e3;
	border-radius: 15px 0px 0px 15px;
}

.circle {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #e3e3e3;
}

.lazy {
	height: 25px;
	border-radius: 15px;
	background-color: #e3e3e3;
	width: 150px;
}





#startContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-right: 30px;
}

#startContainer p {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	color: #999999;
}

#priceContainer {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}

#priceContainer h3 {
	font-family: "Noto Serif KR", serif;
	font-optical-sizing: auto;
	font-size: 4.5rem;
	font-weight: 500;
	letter-spacing: -2px;
	font-style: normal;
	color: #202020;
	font-style: italic;	
}

#priceContainer p {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	color: #202020;
}

#tierContainer {
	width: 100%;
	margin-top: 40px;
	display: grid;
	grid-template-rows: repeat(auto, max-content);
	grid-row-gap: 10px;
}

.tier {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 1.5rem;
	align-items: center;
	border: 1px solid #dedede;
	border-radius: 15px;
	padding: 1.5rem 2rem;
	cursor: pointer;
}

.tierCircle {
	height: 15px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: #ececec;
}

.featText {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 600;
	font-style: normal;
	color: #202020;
}

form {
	width: 100%;
	margin-top: 40px;
}

.inputContainer {
	margin-bottom: 20px;
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 10px;
}

.inputContainer h6 {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 0.90rem;
	font-weight: 500;
	font-style: normal;
	color: #202020;
}

#email {
	width: 100%;
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 500;
	font-style: normal;
	color: #202020;
	padding: 1.2rem 1.5rem;
	border: 1px solid #efefef;
	outline: none;
	border-radius: 15px;
	background-color: #fcfcfc;
}

#submit {
	width: 100%;
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 500;
	font-style: normal;
	color: #f9f9f9;
	padding: 1.2rem 1.5rem;
	border: 1px solid #efefef;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	background-color: #202020;
}

}























@media only screen and (max-width: 600px) {

#content {
	width: 100%;
}

#sectionOne {
	width: 100%;
	height: auto;
	background-color: #f7f7f7;
}

#oneContent {
	width: 100%;
	display: grid;
	height: 100%;
	background-colour: red;
}

#logo {
	height: 28px;
	width: auto;
}

#sectionOneContent {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: max-content auto;
	grid-gap: 40px;
}

#introContainer {
	border-radius: 0px 0px 15px 15px;
	background-color: #bfbfbf;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto max-content;
	grid-row-gap: 4rem;
	padding-bottom: 0rem;
	background-image:url('img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
}

#introLeft {
	display: grid;
	grid-template-rows: max-content auto;
	grid-row-gap: 4rem;
	justify-items: center;
}

#introNav {
	width: 90%;
	padding: 2rem 0rem 0rem 0rem;
}

#introText {
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-row-gap: 2rem;
	height: 100%;
	align-content: center;
	width: 90%;
}

#introText h1 {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: -2px;
	line-height: 1;
	width: 90%;
	font-style: normal;
	color: #FFFFFF;
}

#introText h2 {
	font-family: "Noto Serif KR", serif;
	font-optical-sizing: auto;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: -2px;
	font-style: normal;
	color: #e6e6e6;
	font-style: italic;
}

#introRight {
	height: max-content;
	width: 100%;
	position: relative;
	z-index: 1;
}

#mockupContainer {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#mockupBox {
	background-color: #ececec;
	border-radius: 15px 15px 0px 0px;
	width: 90%;
	overflow: hidden;
	height: 100%;
	-webkit-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 78px -18px rgba(0,0,0,0.1);	
	display: grid;
	grid-template-rows: max-content 1.5fr;
	grid-row-gap: 10px;
	padding: 15px 15px 0px 15px;
}

#mockGrid {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: center;
	grid-column-gap: 20px;
}

.mock {
	background-color: #e3e3e3;
	border-radius: 15px 15px 0px 0px;
	min-height: 100px;
}

#nonMob {
	display: none;
}

.circle {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #e3e3e3;
}

.lazy {
	height: 25px;
	border-radius: 15px;
	background-color: #e3e3e3;
	width: 150px;
}





#startContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 5% 2rem 5%;
}

#startContainer p {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	color: #999999;
}

#priceContainer {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}

#priceContainer h3 {
	font-family: "Noto Serif KR", serif;
	font-optical-sizing: auto;
	font-size: 4.5rem;
	font-weight: 500;
	letter-spacing: -2px;
	font-style: normal;
	color: #202020;
	font-style: italic;	
}

#priceContainer p {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	color: #202020;
}

#tierContainer {
	width: 100%;
	margin-top: 40px;
	display: grid;
	grid-template-rows: repeat(auto, max-content);
	grid-row-gap: 10px;
}

.tier {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 1.5rem;
	align-items: center;
	border: 1px solid #dedede;
	border-radius: 15px;
	padding: 1.5rem 2rem;
	cursor: pointer;
}

.tierCircle {
	height: 15px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: #ececec;
}

.featText {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1.1rem;
	font-weight: 600;
	font-style: normal;
	color: #202020;
}

form {
	width: 100%;
	margin-top: 40px;
}

.inputContainer {
	margin-bottom: 20px;
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 10px;
}

.inputContainer h6 {
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 0.90rem;
	font-weight: 500;
	font-style: normal;
	color: #202020;
}

#email {
	width: 100%;
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1rem;
	font-weight: 500;
	font-style: normal;
	color: #202020;
	padding: 1.2rem 1.5rem;
	border: 1px solid #efefef;
	outline: none;
	border-radius: 15px;
	background-color: #fcfcfc;
}

#submit {
	width: 100%;
	font-family: 'Manrope', 'sans-serif';
	font-optical-sizing: auto;
	font-size: 1rem;
	font-weight: 500;
	font-style: normal;
	color: #f9f9f9;
	padding: 1.2rem 1.5rem;
	border: 1px solid #efefef;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	background-color: #202020;
}

}

